<a href="https://colab.research.google.com/github/lokeshcv/opencv/blob/main/DSA_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arrays

## 1.	Equilibrium index of an array

In [3]:
def equilibrium_index(arr):
    total_sum = sum(arr)  # Calculate the total sum of the array
    left_sum = 0  # Initialize left sum to 0

    for i in range(len(arr)):
        total_sum -= arr[i]  # Deduct the current element from the total sum
        if left_sum == total_sum:
            return i
        left_sum += arr[i]  # Add the current element to the left sum

    return -1  # Return -1 if no equilibrium index is found


arr = [-7, 1, 5, 2, -4, 3, 0]
equilibrium_index(arr)

3



## 2.	Rain water trapped

In [1]:
def trap(heights):
    if not heights:
        return 0

    n = len(heights)
    left_max = [0] * n
    right_max = [0] * n

    left_max[0] = heights[0]
    for i in range(1, n):
        left_max[i] = max(left_max[i - 1], heights[i])

    right_max[n - 1] = heights[n - 1]
    for i in range(n - 2, -1, -1):
        right_max[i] = max(right_max[i + 1], heights[i])

    water_trapped = 0
    for i in range(n):
        water_trapped += min(left_max[i], right_max[i]) - heights[i]

    return water_trapped

# Example usage:
heights = [2,4,1,5,2]
result = trap(heights)
print("Trapped Rainwater:", result)

Trapped Rainwater: 3

# Bit Manipulation

## 1.	Single Number 2

In [4]:
def singleNumber(nums):
    result = 0
    for i in range(32):  # We assume 32-bit integers
        count = 0
        # Count the number of set bits at the i-th bit position for all elements
        for num in nums:
            count += (num >> i) & 1
        # If the count is not a multiple of 3, set the i-th bit in the result
        if count % 3 != 0:
            result |= (1 << i)
    # Handle negative numbers by checking if the most significant bit is set
    if result >= 2**31:
        result -= 2**32
    return result

# Example usage:
nums = [2, 2, 3, 2]
unique_number = singleNumber(nums)
print("Unique Number:", unique_number)

Unique Number: 3

In [6]:
def singleNumber(nums):
    ones, twos = 0, 0

    for num in nums:
        ones = (ones ^ num) & ~twos
        twos = (twos ^ num) & ~ones

    return ones

# Example usage:
nums = [2, 2, 3, 2]
result = singleNumber(nums)
print("The single number that occurs once:", result)

The single number that occurs once: 3

## Single Number 3